<!DOCTYPE html>
<!-- ENCABEZADO DEL ARCHIVO Y HEADER HTML -->
<html lang="en">
{% include "ezimp/header.html" %}
{% load static %}
  <body>
<!-- BARRA DE NAVEGACION -->
{% include "ezimp/navbar.html" %}
  <div class="container">
  {% block content %}
  <h2>Registrarse</h2>
<!--  <form action="" method="POST">-->
  <form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="control-group">
      <label class="control-label" for="id_{{ field.name }}"><dt>{{ field.label }}</dt></label>
      <!--<div class="controls">-->
          {{ field }}
          <p class="help-text">{{ field.help_text }} </p>

      <!--</div>-->
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
  {% endblock content %}
</div>
<!-- FOOTER -->
{% include "ezimp/footer.html" %}
<!-- ARCHIVOS JS -->
{% include "ezimp/mainjs.html" %}
</body>
</html>
